/* Small devices */
@media (max-width: 1280px) {
	.browseBlock {
		width: 90%;
	}
}

@media only screen and (max-width: 1023px) {
	.searchColSection {
		bottom: -40px;
		width: 200vh;
		right: 0;
		z-index: 9;
	}

	.searchColSection {
		border-right: 1px solid #ec1d23;
	}

	.searchColSection>input {
		width: 18.8%;
		font-size: 11px;
	}

	.tblSearchExport {
		width: 100%;
	}

	.showSearchPanel {
		position: relative;
		right: 16px;
		bottom: 3px;
	}

	.showSearchPanel:after,
	.showSearchPanel:before {
		content: '';
		display: block;
		position: absolute;
		left: 100%;
		width: 0;
		height: 0;
		border-style: solid;
		z-index: 99;
		transform: rotate(-90deg);
	}

	.showSearchPanel:before {
		top: 18px;
		border-color: transparent transparent transparent #a00;
		border-width: 11px;
	}

	.showSearchPanel:after {
		top: 20px;
		left: 1px;
		border-color: transparent transparent transparent #fdd;
		border-width: 10px;
	}

	.searchIconWrap {
		position: static;
	}

	.searchIconWrap>button {
		position: relative;
		top: 10px;
	}

	.searchColSection {
		top: 53px;
		height: 32px;
	}

	.TblStatus {
		width: 100%;
	}
}

/* Small devices */
@media (max-width: 576px) {
	.browseBlock {
		width: 85%;
	}

	.scRequestTabs>li {
		margin-bottom: 0px;
	}

	.reqTileInner {
		width: 100%;
		/* padding-left: 50px; */
	}

	.reqTileInner:before {
		width: 25px;
		height: 25px;
	}

	.CloseReq .reqTileInner:before,
	.POReq .reqTileInner:before,
	.HoldReq .reqTileInner:before {
		background-size: 30px;
	}

	.browseBlock {
		width: 95% !important;
	}

	.upload {
		width: 100%;
	}

	.reqTilesWrap {
		grid-template-columns: repeat(auto-fit, minmax(115px, 0.5fr));
		gap: 0.2rem;
	}
}

/* Medium devices */
@media (min-width: 576px) {
	.reqTilesWrap {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
}

@media (max-width: 767px) {

	#MyRequestTbl>thead>tr>th:nth-child(2),
	#MyRequestTbl>tbody>tr>td:nth-child(2),
	#MyRequestTbl>thead>tr>th:nth-child(3),
	#MyRequestTbl>tbody>tr>td:nth-child(3),
	#SCTeamMyRequestTbl>thead>tr>th:nth-child(2),
	#SCTeamMyRequestTbl>tbody>tr>td:nth-child(2),
	#SCTeamMyRequestTbl>thead>tr>th:nth-child(3),
	#SCTeamMyRequestTbl>tbody>tr>td:nth-child(3) {
		width: 100px !important;
		max-width: 100px !important;
	}

	.searchColSection {
		right: -30px;
	}

	.formTxtArea,
	.formTxtBox,
	.formDrpDwn {
		width: 100%;
	}

	.browseBlock {
		width: 60%;
	}

	.scDatepicker input {
		width: calc(100% - 39px) !important;
	}

	.tblSearchExport {
		position: relative;
		bottom: -10px;
	}

	.dataTables_wrapper {
		bottom: 0;
	}

	.createNewAndSearch {
		position: relative;
		text-align: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.searchIconWrap {
		float: right;
	}

	.createNewBtn {
		display: inline-block;
		padding: 4px 7px;
	}

	.upload {
		width: 100%;
	}
}

/* Large devices */
@media (max-width: 993px) {
	.reqTileInner {
		width: 100%;
	}
}

/* Large devices */
@media (min-width: 993px) {
	/* .reqTilesWrap > li {		
		flex: content;
		max-width: max-content;
		margin:5px;	
	} */
}

/* Smal devices IPhone X */
@media (max-width: 425px) {
	.reqTileLbl {
		font-size: 9px;
	}

	.dataTables_filter {
		margin-bottom: 20px !important;
	}

	.newIOrequest,
	.exportbtn {
		padding: 0px !important;
		margin-bottom: 10px;
		display: inline-block;
		margin-right: 4px;
	}
}

@media screen and (min-width:320px) and (max-width:360px) {
	.reqTilesWrap {
		grid-template-columns: repeat(auto-fit, minmax(100%, 0.5fr));
		gap: 0.2rem;
	}
}

@media only screen and (device-width: 1024px) and (orientation:landscape) {}

@media screen and (min-width: 1024px) {
	.a_e_50a7110f:not(.b_e_50a7110f) .k_e_50a7110f {
		display: inline-block;
		max-width: 1268px;
		width: 100%;
	}

	.a_h_50a7110f:not(.b_h_50a7110f) .p_h_50a7110f {
		display: -ms-flexbox;
		display: contents;
		max-width: 1268px;
		width: 100%;
	}

}